<style type="text/css">
	body{margin:0}
	ul{list-style:none;}
	#content{
	}
	.over{
		width:505px;
		height:500px;
		background-color:#225;
		text-align:center;
		color:#fff;
		position:absolute;
		z-index:2;
		display:none;
	}
	.result{
		font-size:90px;
		margin-top:50px;
		color:#fff;
	}
	.button{
		background-color:#fff;
		color:#000;
		width:290px;
		height:75px;
		font-size:45px;
		line-height:75px;
		margin-left:auto;
		margin-right:auto;
	}
	.newgame{
		margin-top:75px;
	}
	#continue{
		margin-top:50px;
	}
	#hsenter{
		width:505px;
		height:500px;
		background-color:#ddf;
		position:absolute;
		z-index:10;
		text-align:center;
		font-size:50px;
		line-height: 80px;
		display:none;
	}
	#nameinput{
		width:300px;
		height:40px;
		font-size:40px;
	}
	#submiths{
		margin:0;
		height:40px;
		font-size:20px;
	}
	#scoreboard{
		width:505px;
		margin-left:auto;
		margin-right:auto;
		background-color:#44c;
		margin-top:60px;
		font-size:25px;
		text-align:center;
	}
	table { width:100%; }
	tr { 
		width:100%;
		background-color:#ccf;
	}
	th{
		font-size:40px;
		width:50%;
		color:#fff;
		background-color: #44c;
	}
	td{
		width:50%;	
	}
	#game{
		width:505px;
		height:500px;
		background-color:#aac;
		display:block;
		margin-left:auto;
		margin-right:auto;
		position:relative;
	}
	#title{
		font-size:50px;
		text-align:center;
		margin-top:20px;
		margin-bottom:20px;
	}
	.grid{
		background-color:#bbd;
		width:110px;
		height:110px;
		margin-right:10px;
		margin-bottom:10px;
		display:inline-block;
	}
	ul#grid{
		display:inline-block;
		width:500px;
		height:500px;
		white-space:nowrap;
		position:absolute;
		margin-left:10px;
		margin-top:10px;
		padding:0;
	}
	ul#grid li{
		margin:0;
		list-style:none;
		padding:0;
		display:inline-block;
		z-index:-1;
	}
	.box{
		width:110px;
		height:110px;
		position:absolute;
		z-index:1;
		text-align:center;
		font-size:50px;
		line-height:105px;
		transition: all .25s;
		-webkit-transition: all .25s;
	}
	.no-transition{
		transition: all .1s;
		-webkit-transition: all .1s;
	}
	#score{font-size:40px;}
	.col0{left:10px;}
	.col1{left:135px;}
	.col2{left:260px;}
	.col3{left:385px;}
	.row0{top:10px;}
	.row1{top:130px;}
	.row2{top:255px;}
	.row3{top:375px;}
	.b2{background-color:#ccf;}
	.b4{background-color:#bbf;}
	.b8{background-color:#66A3FF;}
	.b16{background-color:#33D6FF;}
	.b32{background-color:#00E6E6;}
	.b64{background-color:#00CC99;}
	.b128{background-color:#80E6B2;}
	.b256{background-color:#33D685;}
	.b512{background-color:#47D147;}
	.b1024{background-color:#ADFF5C;}
	.b2048{background-color:#FFFF75;}
	p{
		font-size:70px;
		height:35px;
		letter-spacing:70px;
		width:200px;
		color:#000;
		margin-left:100px;
	}
</style>